@import "variables";
@import "animations";

.container {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

  .itemList {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform $default-animation-time;
    margin-bottom: 20px;
  }

  .item {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bubbleContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .bubbleList {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .bubble {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $carousel-bubble;
        margin-right: 5px;

        &.active {
          background-color: $carousel-bubble-active;
        }
      }
    }
  }

  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 10px;
    border-radius: 50%;
    color: $primary-purple;
    top: 45%;
    transform: translateY(-50%);
    box-sizing: border-box;
    transition: color $default-animation-time,
      background-color $default-animation-time;
    font-size: 1.25rem;

    &.leftArrow {
      left: 10px;
    }

    &.rightArrow {
      right: 10px;
    }
  }

  .arrow:hover {
    background-color: $primary-purple;
    color: $text-light;
  }
}

.fadeInBlock {
  opacity: 0;
  animation: fadeIn $default-animation-time;
  animation-fill-mode: forwards;
}

.fadeOutBlock {
  opacity: 1;
  animation: fadeOut $default-animation-time;
  animation-fill-mode: forwards;
}
