@import "variables";

.container {
  background-color: $bg-dark;
  color: $text-light;
  padding-bottom: 20px;
  .line {
    background-color: #c4c4c4;
    width: 90%;
    height: 2px;
    margin: auto;
  }

  .textContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 0.9rem;

    .icon {
      margin-right: 4px;
    }
  }
}
