@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import "variables";

body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: $text;
}

.clickable {
  cursor: pointer;
}

.font-serif {
  font-family: "Playfair Display", serif;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
